############################
# Maven
############################
target/
!.mvn/wrapper/maven-wrapper.jar

############################
# Spring Boot
############################
logs/
*.log

############################
# H2 Database (file-based)
############################
data/
*.mv.db
*.trace.db

############################
# Eclipse / STS
############################
.project
.classpath
.settings/
.factorypath
.springBeans

############################
# IntelliJ (safe even if unused)
############################
.idea/
*.iml
*.iws

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Temp / Misc
############################
*.tmp
*.swp
